#root {
	max-width: 1440px;
	margin: 0 auto;
}

.mobile-nav .logo-wrapper {
	inline-size: 100%;
	background-color: var(--neutral-800);
	padding: var(--spacing-150) var(--spacing-200);
}

.bottom-navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	padding: var(--spacing-150) var(--spacing-400);
	background-color: var(--neutral-950);

	border-top: 1px solid var(--neutral-800);
	box-shadow: var(--navbar-shadow);
}

.bottom-navbar a {
	display: grid;
	place-items: center;
	padding: var(--spacing-050) var(--spacing-250);
}

.bottom-navbar a span {
	display: none;
}

.main-content {
	display: grid;
	grid-template-columns: var(--grid-columns-mobile) 1fr;
	padding: var(--grid-padding-mobile);
	gap: var(--grid-gap-mobile);
	padding-block-end: var(--spacing-800);
}

.main-content p {
	color: var(--neutral-200);
}

.note-list a {
	display: grid;
	gap: var(--spacing-150);
	padding: var(--spacing-100);
	border-bottom: 1px solid var(--neutral-800);
}

.note-list p {
	background-color: var(--neutral-800);
	padding: var(--spacing-100);
	border: var(--border-bottom);
	border-color: var(--neutral-700);
	border-radius: var(--radius-8);
}

.note-tags {
	display: flex;
	gap: var(--spacing-050);
}

.note-tags span {
	padding: var(--spacing-025) var(--spacing-075);
	background-color: var(--neutral-700);
	border-radius: var(--radius-4);
}

.header-control {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding-block-end: var(--spacing-150);
	border-bottom: var(--border-bottom);
}

.go-back {
	display: flex;
	align-items: center;
	gap: var(--spacing-050);
	color: var(--neutral-300);
}

.go-back svg {
	color: var(--neutral-300);
	inline-size: 1.125rem;
	block-size: 1.125rem;
}

.control-btns {
	display: flex;
	align-items: start;
	gap: var(--spacing-200);
}

.control-btns svg {
	inline-size: 1.125rem;
	block-size: 1.125rem;
}

.save-note {
	color: var(--blue-500);
}

.note-props {
	display: grid;
	gap: var(--spacing-050);
	border-bottom: var(--border-bottom);
	padding-block-end: var(--spacing-150);
	color: var(--neutral-300);
}

.tags,
.note-status,
.last-edited {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding-block: var(--spacing-050);
}

.tags h2,
.note-status h2,
.last-edited h2 {
	inline-size: 7.25rem;
	display: flex;
	align-items: center;
	gap: var(--spacing-075);
}

.tags ul {
	display: flex;
	gap: var(--spacing-050);
}

.tags svg,
.note-status svg,
.last-edited svg {
	inline-size: 1rem;
	block-size: 1rem;
}

.search-bar {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-150) var(--spacing-200);
	border: var(--border-bottom);
	border-color: var(--neutral-600);
	border-radius: var(--radius-8);
}

.search-bar + p {
	color: var(--neutral-300);
}

.search-bar svg {
	inline-size: 1.25rem;
	block-size: 1.25rem;
	color: var(--neutral-500);
}

.tagged {
	color: var(--neutral-400);
}

.tagged + p {
	color: var(--neutral-300);
}

.tagged span,
.tagged + p span {
	color: var(--neutral-0);
}

.tags-list li {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	border-bottom: var(--border-bottom);
	padding-block: var(--spacing-150);
}

.tags-list li svg {
	inline-size: 1.25rem;
	block-size: 1.25rem;
}

.settings-menu {
	display: grid;
	gap: var(--spacing-100);
}

.settings-item {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-100);
}

.settings-item svg {
	inline-size: 1.25rem;
	block-size: 1.25rem;
}

.options {
	display: grid;
	gap: var(--spacing-200);
}

.options label {
	display: flex;
	align-items: center;
	gap: var(--spacing-200);
	padding: var(--spacing-200);
	border: 1px solid var(--neutral-700);
	border-radius: var(--radius-12);
	cursor: pointer;
}

.icon-wrapper {
	inline-size: 2.5rem;
	block-size: 2.5rem;
	background-color: var(--neutral-950);
	padding: var(--spacing-100);
	border: 1px solid var(--neutral-700);
	border-radius: var(--radius-12);
}

.options label p {
	color: var(--neutral-300);
}

.options label div:nth-child(2) {
	display: grid;
	gap: var(--spacing-075);
}

.options input {
	position: absolute;
	opacity: 0;
}

.custom-radio {
	margin-inline-start: auto;
	inline-size: 1rem;
	block-size: 1rem;
	border: 2px solid var(--neutral-600);
	border-radius: 50%;
}

.options label:has(input:checked) {
	background-color: var(--neutral-800);
}

.options input:checked ~ .custom-radio {
	border: 4px solid var(--blue-500);
}

.password-form {
	display: grid;
	gap: var(--spacing-300);
}

.password-form label {
	display: grid;
	gap: var(--spacing-075);
	position: relative;
}

.show-password-icon {
	position: absolute;
	right: 1rem;
	top: 2rem;
	color: var(--neutral-500);
}

.hint-text {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	color: var(--neutral-400);
}

.hint-text svg {
	inline-size: 0.75rem;
	block-size: 0.75rem;
}

.save-password-btn {
	background-color: var(--blue-500);
	padding: var(--spacing-150) var(--spacing-200);
	margin-inline-start: auto;
	border-radius: var(--radius-8);
}
