#root {
	max-width: 1440px;
	margin: 0 auto;
}

.logo-wrapper {
	inline-size: 100%;
	background-color: var(--neutral-800);
	padding: 0.8125rem 1rem;
}

.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	padding: 0.75rem 2rem;
	background-color: var(--neutral-950);

	border-top: 1px solid var(--neutral-800);
	box-shadow: var(--navbar-shadow);
}

.navbar a {
	display: grid;
	place-items: center;
	padding: 0.25rem 1.25rem;
}

.navbar a span {
	display: none;
}

.main-content {
	display: grid;
	grid-template-columns: var(--grid-columns-mobile) 1fr;
	padding: var(--grid-padding-mobile);
	gap: var(--grid-gap-mobile);
}

.navbar-allnotes a {
	display: grid;
	gap: 12px;
	padding: 8px;
	border-bottom: 1px solid var(--neutral-800);
}

.note-tags {
	display: flex;
	gap: 4px;
}

.note-tags span {
	padding: 2px 6px;
	background-color: var(--neutral-600);
	border-radius: 4px;
}

.settings-menu {
	display: grid;
	gap: 30px;
}
