#root {
	max-width: 90rem;
	margin: 0 auto;
}

.mobile-header .logo-wrapper {
	background-color: var(--bg-surface);
	padding: var(--spacing-150) var(--spacing-200);
}

.bottom-navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-150) var(--spacing-400);
	background-color: var(--bg-page);
	border-top: var(--border);
	box-shadow: var(--navbar-shadow);
}

.bottom-navbar.active {
	background-color: var(--active-surface);
}

.nav-links {
	display: flex;
	flex-direction: column;
	padding: var(--spacing-050) var(--spacing-250);
}

.nav-links span {
	display: none;
}

.main {
	display: grid;
	grid-template-columns: var(--grid-columns-mobile) 1fr;
	gap: var(--grid-gap-mobile);
	padding: var(--grid-padding-mobile);
	padding-block-end: var(--spacing-800);
	border-radius: var(--radius-16);
}

.note-list {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-050);
}

.new-note-btn {
	position: fixed;
	right: var(--spacing-200);
	bottom: var(--spacing-900);

	display: grid;
	place-items: center;
	block-size: 3rem;
	inline-size: 3rem;
	margin-block-end: var(--spacing-200);
	background-color: var(--blue-500);
	border-radius: var(--radius-full);
	color: var(--neutral-0);
}

.note-link {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-150);
	padding: var(--spacing-100);
}

.note-tags {
	display: flex;
	gap: var(--spacing-050);
}

.note-tags span {
	padding: var(--spacing-025) var(--spacing-075);
	background-color: var(--bg-surface-2);
	border-radius: var(--radius-4);
}

.empty-state {
	background-color: var(--bg-surface);
	padding: var(--spacing-100);
	border: var(--border);
	border-radius: var(--radius-8);
}

.page-desc {
	color: var(--text-secondary);
	margin-block-end: var(--spacing-200);
}

.note-details {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-150);
}

.header-controls {
	display: flex;
	justify-content: space-between;
	align-items: start;
	color: var(--text-secondary);
}

.header-controls svg {
	inline-size: 1.125rem;
	block-size: 1.125rem;
}

.go-back-link {
	display: flex;
	align-items: center;
	gap: var(--spacing-050);
	color: inherit;
}

.go-back-link svg {
	inline-size: 1.125rem;
	block-size: 1.125rem;
}

.control-btns {
	display: flex;
	align-items: start;
	gap: var(--spacing-200);
}

.save-btn {
	color: var(--blue-500);
}

textarea#title::placeholder,
textarea#content::placeholder {
	color: var(--text-primary);
}

.note-props {
	display: grid;
	gap: var(--spacing-050);
	color: var(--text-secondary);
}

.prop {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
}

.prop svg {
	inline-size: var(--spacing-200);
	block-size: var(--spacing-200);
}

.prop label,
.prop h2,
.prop p {
	display: flex;
	align-items: center;
	gap: var(--spacing-075);
	inline-size: 115px;
	padding-block: var(--spacing-050);
}

.input-bar {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-150) var(--spacing-200);
	border: var(--input-border);
	border-radius: var(--radius-8);
	background-color: var(--bg-input);
}

.input-bar svg {
	color: var(--neutral-500);
}

.tags-list {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-050);
}

.tag-link {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding-block: var(--spacing-150);
	color: var(--text-secondary);
}

.tag-link svg {
	inline-size: 1.25rem;
	block-size: 1.25rem;
}

.tagged {
	color: var(--text-secondary-2);
}

.tagged span {
	color: var(--text-primary);
}

.settings-menu {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-100);
}

.settings-menu-item {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-100);
}

.settings-menu-item svg {
	inline-size: 1.25rem;
	block-size: 1.25rem;
}

.settings-item {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-150);
}

.settings-item .page-desc {
	margin-block: -0.25rem var(--spacing-125);
}

.options {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-200);
	margin-block: var(--spacing-100);
}

.options label {
	display: flex;
	align-items: center;
	gap: var(--spacing-200);
	padding: var(--spacing-200);
	border: var(--border);
	border-radius: var(--radius-12);
	cursor: pointer;
}

.icon-wrapper {
	inline-size: 2.5rem;
	block-size: 2.5rem;
	background-color: var(--bg-page);
	padding: var(--spacing-100);
	border: var(--border);
	border-radius: var(--radius-12);
}

.setting-desc {
	color: var(--text-secondary);
}

.setting-content {
	display: grid;
	gap: var(--spacing-075);
}

.options input {
	position: absolute;
	opacity: 0;
	inline-size: 0;
}

.custom-radio {
	margin-inline-start: auto;
	inline-size: 1rem;
	block-size: 1rem;
	border: var(--input-border);
	border-width: 2px;
	border-radius: var(--radius-full);
}

.options label:has(input:checked) {
	background-color: var(--bg-surface);
}

.options input:checked ~ .custom-radio {
	border: 4px solid var(--blue-500);
}

.options button {
	align-self: flex-end;
}

.password-form {
	display: grid;
	gap: var(--spacing-300);
	margin-block: var(--spacing-200);
}

.password-form label {
	display: grid;
	gap: var(--spacing-075);
	position: relative;
}

.show-password-icon {
	position: absolute;
	right: var(--spacing-200);
	top: var(--spacing-400);
	color: var(--neutral-500);
}

.hint-text {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	color: var(--text-secondary-2);
}

.hint-text svg {
	inline-size: 0.75rem;
	block-size: 0.75rem;
}

.password-form button[type="submit"] {
	padding: var(--spacing-150) var(--spacing-200);
	margin-inline-start: auto;
	border-radius: var(--radius-8);
}

/* Desktop */

.desktop-sidenav {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-200);
	padding: var(--spacing-200);
}

.sidenavbar {
	display: grid;
	gap: var(--spacing-100);
}

.sidenavbar .top-items {
	display: grid;
	gap: var(--spacing-100);
}

.sidenavbar .top-items a {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-125) var(--spacing-150);
}

.sidenavbar h2 {
	padding-inline: var(--spacing-100);
	color: var(--neutral-500);
}

.sidebar-tag-list {
	display: flex;
	flex-direction: column;
}

.save-btns {
	display: flex;
	gap: var(--spacing-200);
}

.right-bar-menu {
	grid-column: 10 / 13;
	padding-inline-start: var(--spacing-200);
	border-left: var(--border);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-150);
}

.right-bar-menu button {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-150) var(--spacing-200);
	border: var(--input-border);
	border-radius: var(--radius-8);
}

/* login */
#root:has(.login-wrapper) {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	min-block-size: 100vh;
	background-color: var(--bg-surface);
}

.login-wrapper {
	inline-size: min(33.75rem, 100% - 1rem * 2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-200);
	padding-block: var(--spacing-600);
	margin: 0 auto;
	background-color: var(--bg-page);
	border-radius: var(--radius-16);
}

.login-wrapper p,
.login-wrapper h1 {
	text-align: center;
}

.login-wrapper p {
	margin-block-start: var(--spacing-100);
	color: var(--text-secondary);
}

.login-form {
	padding: var(--spacing-300) var(--spacing-200) 0;
	inline-size: 100%;
	display: grid;
	gap: var(--spacing-200);
}

.login-form label {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-075);
}

.forgot {
	position: absolute;
	right: 0;
	top: var(--spacing-050);
	color: var(--text-secondary-2);
	text-decoration: underline;
}

.google-login {
	inline-size: calc(100% - var(--spacing-400));
	padding-block: var(--spacing-300) var(--spacing-200);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-200);
	border-top: var(--border);
	border-bottom: var(--border);
}

.google-btn {
	inline-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-075);
	padding: var(--spacing-075);
	border: var(--border);
	border-radius: var(--radius-12);
}

.signup-link {
	color: var(--text-primary);
	text-decoration: underline;
}

@media (min-width: 64rem) {
	#root {
		display: grid;
		grid-template-columns: var(--sidebar-width) auto;
		min-block-size: 100vh;
	}

	.sidenavbar .active::after,
	.settings-menu .active::after {
		content: "";
		position: absolute;
		background: url("./assets/images/icon-chevron-right.svg") center no-repeat;
		right: var(--spacing-150);
		inline-size: var(--spacing-075);
		block-size: var(--spacing-125);
	}

	.tags-list hr {
		display: none;
	}

	.tag-link {
		padding: var(--spacing-125) var(--spacing-150);
	}

	.main {
		display: grid;
		grid-template-columns: repeat(var(--grid-columns-desktop), 1fr);
		grid-template-rows: var(--spacing-1000) 1fr;
		gap: var(--spacing-250) var(--grid-gap);
		padding: 0 var(--spacing-400);
		border-left: var(--border);
		border-radius: var(--radius-0);
	}

	.desktop-header {
		display: flex;
		align-items: center;
		gap: var(--spacing-200);
		padding: var(--spacing-300) var(--spacing-400);
		margin-inline: -2rem;
		border-bottom: var(--border);
		grid-column: 1 / -1;
	}

	.desktop-header .input-bar {
		inline-size: 18.75rem;
		margin-inline-start: auto;
	}

	.desktop-header .setting-icon {
		padding: var(--spacing-100);
	}

	.note-list,
	.settings-menu {
		grid-column: span 3;
		padding-inline-end: var(--spacing-200);
		border-right: var(--border);
	}

	.new-note-btn {
		position: static;
		display: block;
		inline-size: 100%;
		border-radius: var(--radius-8);
	}

	.note-details {
		grid-column: span 6;
		gap: var(--spacing-200);
		padding: 0;
	}

	.note-props {
		gap: var(--spacing-100);
	}

	.settings-item {
		grid-column: span 5;
	}

	.options {
		margin: 0;
	}
}
