#root {
	max-width: 1440px;
	margin: 0 auto;
	height: 100vh;
}

.mobile-nav .logo-wrapper {
	background-color: var(--neutral-800);
	padding: var(--spacing-150) var(--spacing-200);
}

.bottom-navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	padding: var(--spacing-150) var(--spacing-400);
	background-color: var(--neutral-950);

	border-top: 1px solid var(--neutral-800);
	box-shadow: var(--navbar-shadow);
}

.bottom-navbar a {
	display: flex;
	flex-direction: column;
	padding: var(--spacing-050) var(--spacing-250);
}

.bottom-navbar a span {
	display: none;
}

.main-content {
	display: grid;
	grid-template-columns: var(--grid-columns-mobile) 1fr;
	padding: var(--grid-padding-mobile);
	gap: var(--grid-gap-mobile);
	padding-block-end: var(--spacing-800);
}

.main-content p {
	color: var(--neutral-200);
}

.new-note-btn {
	position: fixed;
	right: var(--spacing-200);
	bottom: var(--spacing-900);

	display: grid;
	place-items: center;

	block-size: 3rem;
	inline-size: 3rem;
	background-color: var(--blue-500);
	border-radius: 50%;
	cursor: pointer;
}

.note-list {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-050);
}

.note-list a {
	display: grid;
	gap: var(--spacing-150);
	padding: var(--spacing-100);
}

.note-list a::after {
	display: none;
}

.note-list p {
	background-color: var(--neutral-800);
	padding: var(--spacing-100);
	margin-block-end: var(--spacing-200);
	border: var(--border);
	border-color: var(--neutral-700);
	border-radius: var(--radius-8);
}

.note-tags {
	display: flex;
	gap: var(--spacing-050);
}

.note-tags span {
	padding: var(--spacing-025) var(--spacing-075);
	background-color: var(--neutral-700);
	border-radius: var(--radius-4);
}

.note-details {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-150);
}

.header-control {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.go-back {
	display: flex;
	align-items: center;
	gap: var(--spacing-050);
	color: var(--neutral-300);
}

.go-back svg {
	color: var(--neutral-300);
	inline-size: 1.125rem;
	block-size: 1.125rem;
}

.control-btns {
	display: flex;
	align-items: start;
	gap: var(--spacing-200);
}

.control-btns svg {
	inline-size: 1.125rem;
	block-size: 1.125rem;
}

.save-note {
	color: var(--blue-500);
}

.note-props {
	display: grid;
	gap: var(--spacing-050);
	color: var(--neutral-300);
}

.tags,
.note-status,
.last-edited {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding-block: var(--spacing-050);
}

.tags h2,
.note-status h2,
.last-edited h2 {
	inline-size: 7.25rem;
	display: flex;
	align-items: center;
	gap: var(--spacing-075);
}

.tags ul {
	display: flex;
	gap: var(--spacing-050);
}

.tags svg,
.note-status svg,
.last-edited svg {
	inline-size: 1rem;
	block-size: 1rem;
}

.search-bar {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-150) var(--spacing-200);
	border: var(--border);
	border-color: var(--neutral-600);
	border-radius: var(--radius-8);
}

.search-bar + p {
	color: var(--neutral-300);
}

.search-bar svg {
	inline-size: 1.25rem;
	block-size: 1.25rem;
	color: var(--neutral-500);
}

.tagged {
	color: var(--neutral-400);
}

.tagged + p {
	color: var(--neutral-300);
}

.tagged span,
.tagged + p span {
	color: var(--neutral-0);
}

.tags-list {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-050);
}

.tags-list a {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding-block: var(--spacing-150);
}

.tags-list li svg {
	inline-size: 1.25rem;
	block-size: 1.25rem;
}

.settings-menu {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-100);
}

.note-list .settings-item {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-100);
}

.note-list .settings-item::after {
	display: block;
}

.settings-item svg {
	inline-size: 1.25rem;
	block-size: 1.25rem;
}

.settings-item-details {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-300);
}

.settings-item-details div:nth-child(1) {
	display: grid;
	gap: var(--spacing-100);
}

.options {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-200);
}

.options label {
	display: flex;
	align-items: center;
	gap: var(--spacing-200);
	padding: var(--spacing-200);
	border: 1px solid var(--neutral-700);
	border-radius: var(--radius-12);
	cursor: pointer;
}

.icon-wrapper {
	inline-size: 2.5rem;
	block-size: 2.5rem;
	background-color: var(--neutral-950);
	padding: var(--spacing-100);
	border: 1px solid var(--neutral-700);
	border-radius: var(--radius-12);
}

.options label p {
	color: var(--neutral-300);
}

.options label div:nth-child(2) {
	display: grid;
	gap: var(--spacing-075);
}

.options input {
	position: absolute;
	opacity: 0;
	inline-size: 0;
}

.custom-radio {
	margin-inline-start: auto;
	inline-size: 1rem;
	block-size: 1rem;
	border: 2px solid var(--neutral-600);
	border-radius: 50%;
}

.options label:has(input:checked) {
	background-color: var(--neutral-800);
}

.options input:checked ~ .custom-radio {
	border: 4px solid var(--blue-500);
}

.options button {
	align-self: flex-end;
}

.password-form {
	display: grid;
	gap: var(--spacing-300);
}

.password-form label {
	display: grid;
	gap: var(--spacing-075);
	position: relative;
}

.show-password-icon {
	position: absolute;
	right: 1rem;
	top: 2rem;
	color: var(--neutral-500);
}

.hint-text {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	color: var(--neutral-400);
}

.hint-text svg {
	inline-size: 0.75rem;
	block-size: 0.75rem;
}

.save-password-btn {
	background-color: var(--blue-500);
	padding: var(--spacing-150) var(--spacing-200);
	margin-inline-start: auto;
	border-radius: var(--radius-8);
}

.desktop-sidenav {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-200);
	padding: var(--spacing-200);
}

.sidenavbar {
	display: grid;
	gap: var(--spacing-100);
}

.sidenavbar div:nth-child(1) {
	display: grid;
	gap: var(--spacing-050);
}

.sidenavbar a {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	padding: var(--spacing-125) var(--spacing-150);
	text-wrap: nowrap;
}

.sidenavbar h2 {
	padding: var(--spacing-100);
	color: var(--neutral-500);
}

.save-btns {
	display: flex;
	gap: var(--spacing-200);
}

.save-btns button:nth-child(2) {
	color: var(--neutral-400);
}

.right-bar-menu {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-150);
	margin-block: var(--spacing-250);
}

.right-bar-menu button {
	align-self: flex-start;
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
	inline-size: 100%;
	padding: var(--spacing-150) var(--spacing-200);
	border: 1px solid var(--neutral-600);
	border-radius: var(--radius-8);
}

.login-wrapper {
	max-inline-size: 540px;
	padding-block: var(--spacing-600);
	max-block-size: 540px;
	/* block-size: max(100vh, 540px); */
	display: grid;
	place-items: center;
	gap: var(--spacing-200);
}

.login-wrapper p,
.login-wrapper h1 {
	text-align: center;
}

.login-wrapper p {
	margin-block-start: var(--spacing-100);
	color: var(--neutral-300);
}

.login-form {
	padding: var(--spacing-300) var(--spacing-200) 0;
	inline-size: 100%;
	display: grid;
	gap: var(--spacing-200);
}

.login-form label {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-075);
}

.forgot {
	position: absolute;
	right: 0;
	top: var(--spacing-050);
	color: var(--neutral-400);
	text-decoration: underline;
}

.google-login {
	inline-size: calc(100% - var(--spacing-400));
	padding-block: var(--spacing-300) var(--spacing-200);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-200);
	border-top: var(--border);
	border-bottom: var(--border);
}

.google-btn {
	inline-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-075);
	padding: var(--spacing-075);
	border: var(--border);
	border-radius: var(--radius-12);
}

.signup-link {
	color: var(--neutral-0);
}

@media (min-width: 1024px) {
	#root {
		display: flex;
	}

	.desktop-sidenav {
		inline-size: var(--sidebar-width);
	}

	.sidebar-tags-list hr {
		display: none;
	}

	.main-content-desktop {
		display: grid;
		grid-template-columns: repeat(var(--grid-columns-desktop), 1fr);
		grid-template-rows: var(--spacing-1000) 1fr;
		column-gap: var(--grid-gap);
		padding-inline: var(--spacing-400);
		border-left: 1px solid var(--neutral-800);
	}

	.desktop-header {
		display: flex;
		align-items: center;
		gap: var(--spacing-200);
		padding: var(--spacing-300) var(--spacing-400);
		margin-inline: -2rem;
		border-bottom: 1px solid var(--neutral-800);
		grid-column: 1 / -1;
	}

	.desktop-header .search-bar {
		inline-size: 300px;
		margin-inline-start: auto;
	}

	.desktop-header .setting-icon {
		margin: 8px;
	}

	.note-list {
		grid-column: span 3;
		padding-inline-end: var(--spacing-200);
	}

	.note-details {
		grid-column: span 6;
		padding: var(--spacing-250) var(--spacing-300);
		border: 1px solid var(--neutral-800);
		gap: var(--spacing-200);
	}

	.right-bar-menu {
		grid-column: 10 / 13;
	}

	.note-props {
		gap: var(--spacing-100);
	}

	.new-note-btn {
		position: static;
		display: block;
		inline-size: 100%;
		border-radius: var(--radius-8);
		margin-block: var(--spacing-250);
	}

	.tags-list {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-050);
	}

	.tags-list li {
		border-bottom: none;
		padding: 0;
	}

	.settings-menu {
		margin-block-start: var(--spacing-250);
	}
}
